
# Binários compilados
*.exe
*.exe~
*.dll
*.so
*.dylib

# No Linux/Mac, o binário compilado de main.go será 'main'
main

# Binário de teste
*.test

# Arquivos de cobertura de teste
*.out
coverage.txt

# Diretório de dependências (se usar vendoring)
vendor/

# Arquivos de ambiente
.env

# Pastas de configuração de IDEs
.vscode/
.idea/

# Dados do PostgreSQL
/postgres-data